@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.sagkutu
{
    font-family: 'Open Sans', sans-serif;
    background: url("img/back2.jpg");
    background-size: cover;
    height: 100vh;

display: flex;
    justify-content: center;
    align-items: center;


}
.kutu
{
    background: rgba(0,0,0,.5);
    width: 90%;
    height: 50%;
    color: #fff;
    font-size: 20px;
    color: #fff;
    font-size: 18px;
    text-align: justify;
    padding: 30px;
    font-weight: 600;
    border-radius: 20px;
}
.baslik2
{
    font-family: 'Open Sans', sans-serif;
    color: #0f2d53;
    font-weight: 600;
    font-size: 17px;

}
.header1
{
    border-bottom:2px solid rgba(251, 186, 0,.5);
    box-shadow: 0px 3px 5px rgba(251, 186, 0,.5);
}
.card1
{
    border:2px solid rgba(251, 186, 0,.5); ;
    box-shadow: 0px 3px 5px rgba(251, 186, 0,.5);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.lab
{

    position: absolute;
    right: 20px;
    top: 4px;
    transition: all .5s ease-in-out;
}
.lab img
{
    width: 18px;
}
.tl input:focus ~ .lab
{
    opacity: .3;

}
.tl input:valid ~ .lab
{
    opacity: .3;
}
.baslik1
{
    font-family: 'Open Sans', sans-serif;
    color: #0f2d53;
    font-weight: 600;
    font-size: 20px;

}

.baslik3
{
    font-family: 'Open Sans', sans-serif;
    color: #c7254e;
    font-weight: 600;
    font-size: 30px;

}
.p30
{
    padding: 30px;
}
.egik
{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}

.saribas
{
    color: #fbba00;
    font-style: italic;
}

.saribas2
{
    color: #fbba00;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
}
.cerceve1 img
{
    border-radius: 25px;
    box-shadow: 0px 6px 3px rgba(251, 186, 0,.5);
}

/*.col-lg-1{
    background-color: #1b6d85;
}*/
